<ion-header [translucent]="true">
    <ion-toolbar>
        <!-- <div class="back-button" routerLink="/tabs">
            <span class="one"></span>
            <span class="one"></span>
            <span class="two"></span>
        </div> -->

        <ion-title routerLink="/tabs/challenges">
            <span><i class="fa fa-chevron-left" aria-hidden="true"></i></span>
            <span class="hading">
                {{hading | uppercase}}
                <a>MARCH 2020</a>
            </span>
            <span><i class="fa fa-chevron-right" aria-hidden="true"></i></span>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid>
        <div class="top-box">
            <h4>CHALLENGE</h4>
            <p>6 MILE RUN</p>
        </div>
        <div class="list">
            <div class="min-box">
                <div class="heading-box">
                    <div class="rank-box">
                        <h4>RANK</h4>
                    </div>
                    <div class="name-box">
                        <h4>NAME</h4>
                    </div>
                    <div class="score-box">
                        <h4>SCORE</h4>
                    </div>
                </div>
                <div class="list-box">
                    <div class="inner-list one">
                        <div class="rank-box">
                            <h4>1.</h4>
                        </div>
                        <div class="name-box">
                            <h4>JAKE HUGHES</h4>
                        </div>
                        <div class="score-box">
                            <h4>2.40</h4>
                        </div>
                    </div>
                    <div class="inner-list two">
                        <div class="rank-box">
                            <h4>2.</h4>
                        </div>
                        <div class="name-box">
                            <h4>PETER SAM</h4>
                        </div>
                        <div class="score-box">
                            <h4>2.40</h4>
                        </div>
                    </div>
                    <div class="inner-list three">
                        <div class="rank-box">
                            <h4>3.</h4>
                        </div>
                        <div class="name-box">
                            <h4>KERRI HILLS</h4>
                        </div>
                        <div class="score-box">
                            <h4>2.40</h4>
                        </div>
                    </div>
                    <div class="inner-list">
                        <div class="rank-box">
                            <h4>4.</h4>
                        </div>
                        <div class="name-box">
                            <h4>LUCY SMITH</h4>
                        </div>
                        <div class="score-box">
                            <h4>2.40</h4>
                        </div>
                    </div>
                    <div class="inner-list">
                        <div class="rank-box">
                            <h4>5.</h4>
                        </div>
                        <div class="name-box">
                            <h4>JORDAN JJ</h4>
                        </div>
                        <div class="score-box">
                            <h4>2.40</h4>
                        </div>
                    </div>
                    <div class="inner-list">
                        <div class="rank-box">
                            <h4>6.</h4>
                        </div>
                        <div class="name-box">
                            <h4>MATT LOKIS</h4>
                        </div>
                        <div class="score-box">
                            <h4>2.40</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-grid>
</ion-content>