.back-button {
    position: absolute;
    left: 15px;
    z-index: 99;
    cursor: pointer;
    span {
        width: 26px;
        height: 1px;
        background: #9e9e9e;
        display: block;
        margin: 7px 0px;
    }
    span.two {
        width: 13px !important;
    }
}

ion-col.text-right {
    text-align: right;
}

::ng-deep .toolbar-background,
::ng-deep .toolbar-container,
ion-toolbar.in-toolbar {
    --background: #000 !important;
    text-align: left !important;
    color: #fff;
}

.border-top {
    padding: 0px;
    border-top: 2px solid #262626;
    margin-top: 0px;
}

.padding-grid {
    width: 90%;
    margin: 0 auto;
}

.padding-grid>h4 {
    color: #36a443;
    font-size: 18px;
    margin: 0px;
    margin-top: 10px;
}

.invite>p {
    color: #74758e;
    font-size: 14px;
    padding-top: 10px;
    font-weight: bold;
}

.invite-people-img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150%;
        max-width: 150%;
    }
}

.invite-people-icon {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: 0px 5px;
    border: 1px dashed #fff;
    color: #fff;
    text-align: center;
    line-height: 55px;
    font-size: 38px;
}

.user-img {
    width: 60px;
    height: 60px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    margin-right: 15px;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150%;
        max-width: 150%;
    }
}

.user-name {
    h2 {
        color: #fff;
        margin: 0px;
        font-size: 20px;
        padding-left: 0px;
    }
}

.user-chat {
    padding: 10px 0px;
    border-bottom: 2px solid #262626;
}

.user-chat:last-child {
    border-bottom: none;
}

::ng-deep .item-native,
::ng-deep .item .item-input,
::ng-deep ion-item .item-native {
    background: #2e2e2e;
    margin-bottom: 15px;
    border-radius: 12px;
    color: #fff;
    opacity: 1;
    height: 40px;
    width: calc(100% - 40px);
    display: inline-block;
}

.item,
.list,
.item-content,
.item-complex {
    --ion-background-color: #2e2e2e !important;
    margin-bottom: 15px;
    border-radius: 12px;
    color: #fff;
    opacity: 1;
    height: 40px;
    width: calc(100% - 40px);
    display: inline-block;
}

ion-input {
    padding-left: 0px !important;
    font-family: "Muli", sans-serif;
    --padding-top: 0px !important;
}

::ng-deep ion-item.light-back.item-interactive.item-input:focus {
    --ion-background-color: #2e2e2e !important;
}

.activated {
    --ion-item-background: #2e2e2e !important;
}

.item-has-focus {
    --highlight-background: #2e2e2e !important;
}

.button-login {
    margin-top: 0;
    text-align: center;
    display: inline-block;
    width: 30px;
    vertical-align: top;
    button.login {
        background: transparent;
        padding: 3px 0px;
        border: none;
        border-radius: 50px;
        color: #fff;
        font-size: 33px;
        letter-spacing: 1px;
        width: 49%;
        font-weight: bold;
    }
}

ion-grid.padding-grid.file {
    position: fixed;
    bottom: 0;
    background: #000;
    width: 100%;
    padding: 2px 10%; 
}


.right-button {
    position: absolute;
    right: 15px;
    z-index: 99;
    top: 15px;
    img {
        width: 30px;
    }
}

.ion-text-center {
    position: absolute;
    z-index: 9;
    width: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
}