<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="back-button" routerLink="/tabs">
            <span class="one"></span>
            <span class="one"></span>
            <span class="two"></span>
        </div>
        <ion-title style="opacity: 0;">
            MY EXERCISES
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-content>
        <ion-grid>
            <ion-row class="head">
                <ion-col>
                    <a>EDIT</a>
                </ion-col>
                <ion-col>
                    <h4>BENCH PRESS</h4>
                </ion-col>
                <ion-col>
                    <i class="fa fa-line-chart" aria-hidden="true" routerLink="/tabs/garphpage"></i>
                </ion-col>

            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col col-12 class="banner-one">
                    <h4>YOUR 1 REP MAX IS <span>345</span></h4>
                    <div class="inner-banner">
                        <div class="left-text">
                            <h3>1</h3>
                            <p>REP</p>
                        </div>
                        <div class="right-text">
                            <div class="inner-right-text">
                                <div class="right-box-l-text">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                                <div class="right-box-r-text">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                                <div class="right-box-m-text">
                                    <h4>150kg</h4>
                                    <p>WEIGHT</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-banner">
                        <div class="left-text">
                            <h3>2</h3>
                            <p>REP</p>
                        </div>
                        <div class="right-text">
                            <div class="inner-right-text">
                                <div class="right-box-l-text">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                                <div class="right-box-r-text">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                                <div class="right-box-m-text">
                                    <h4>130kg</h4>
                                    <p>WEIGHT</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="inner-banner">
                        <div class="left-text">
                            <h3>1</h3>
                            <p>REP</p>
                        </div>
                        <div class="right-text">
                            <div class="inner-right-text">
                                <div class="right-box-l-text">
                                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </div>
                                <div class="right-box-r-text">
                                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                                </div>
                                <div class="right-box-m-text">
                                    <h4>150kg</h4>
                                    <p>WEIGHT</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-banner">
                        <div class="add-button">
                            <button><i class="fa fa-plus" aria-hidden="true"></i> ADD</button>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-content>
</ion-content>