<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            <div class="back-button">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                <p>STATS</p>
            </div>
            <span class="title"> WORKOUT SUMMARY </span>
            <div class="right-button">
                <i class="fa fa-share" aria-hidden="true"></i>
                <span>SHARE</span>
            </div>
        </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="top-col">
        <ion-row>
            <ion-col>
            </ion-col>
            <ion-col>
                <button>TODAY</button>
            </ion-col>
            <ion-col>
                <h2><img src="../../assets/images/right-icon.png"> 17</h2>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="min-col">
        <ion-row>
            <ion-col size="5">
                <div class="progress-bar-list red">
                    <ion-progress-bar value="1"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="3">
                <div class="m-box red">
                    <p>REDLINE</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="right-box red">
                    <p>11 MINS</p>
                </div>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="5">
                <div class="progress-bar-list org">
                    <ion-progress-bar value="0.9"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="3">
                <div class="m-box org">
                    <p>HARDCORE</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="right-box org">
                    <p>9 MINS</p>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <div class="progress-bar-list wal">
                    <ion-progress-bar value="0.8"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="3">
                <div class="m-box wal">
                    <p>ENDURANCE</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="right-box wal">
                    <p>9 MINS</p>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <div class="progress-bar-list li-green">
                    <ion-progress-bar value="0.6"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="3">
                <div class="m-box li-green">
                    <p>FITNESS</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="right-box li-green">
                    <p>9 MINS</p>
                </div>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="5">
                <div class="progress-bar-list green">
                    <ion-progress-bar value="0.1"></ion-progress-bar>
                </div>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col size="3">
                <div class="m-box green">
                    <p>WARM UP</p>
                </div>
            </ion-col>
            <ion-col size="3">
                <div class="right-box green">
                    <p>5 MINS</p>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="m-back">
        <ion-row>
            <ion-col>
                <h2>3682 cal</h2>
                <img src="../../assets/images/icon-summary.png" />
                <p>CALORIES</p>
                <P>TRACKER</P>
            </ion-col>
            <ion-col>
                <h2>5.6 m</h2>
                <img src="../../assets/images/icon-summarys.png" />
                <p>DISTANCE</p>
            </ion-col>
            <ion-col>
                <h2>80%</h2>
                <img src="../../assets/images/icon-summaryss.png" />
                <p>AVG. INTENSITY</p>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid class="m-back two">
        <ion-row>
            <ion-col>
                <h2>100</h2>
                <h2>BPM</h2>
                <p class="top-p">AVERAGE</p>
                <P>HEARTRATE</P>
            </ion-col>
            <ion-col>
                <h2 style="opacity: 0;">5.6 m</h2>
                <h2>1h20m</h2>
                <p class="top-p">DURATION</p>
            </ion-col>
            <ion-col>
                <h2>19</h2>
                <h2>BMP</h2>
                <p><b>158 <i class="fa fa-angle-right" aria-hidden="true"></i> 139</b></p>
                <p>AVG. INTENSITY</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>