<!-- <ion-header>
    <ion-toolbar>
        <ion-title>login</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content>
    <ion-grid class="logo-image">
        <img src="../../assets/images/logo.png" />
    </ion-grid>
    <ion-grid>
        <form>
            <ion-item class="light-back">
                <i class="fa fa-user" aria-hidden="true"></i>
                <ion-input type="text" [(ngModel)]="email"  name="email" placeholder="email"></ion-input>
            </ion-item>
            <ion-item class="light-back">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <ion-input type="password" [(ngModel)]="pass"  name="pass" placeholder="Password"></ion-input>
            </ion-item>
            <div class="button-login">
                <button type="submit" class="singup" routerLink="/settings">SIGNUP</button>
                <button type="submit" class="login"  (click)="login()">LOGIN</button>
               <!-- <button type="submit" class="login" routerLink="/tabs">LOGIN</button>  -->
            </div>
        </form>
    </ion-grid>
    <ion-grid class="login-fb-button">
        <button (click)="fbclick()"><i class="fa fa-facebook" aria-hidden="true"></i> Sign in with Facebook</button>
        <p routerLink="/settings">DON'T HAVE AN ACCOUNT?</p>
        <p routerLink="/settings">SIGN UP HERE</p>
        
    </ion-grid>
</ion-content>