ion-grid {
    padding: 0px;
    border-top: 2px solid #262626;
    margin-top: 15px;
}

.back-button {
    position: absolute;
    left: 15px;
    z-index: 99;
    cursor: pointer;
    span {
        width: 26px;
        height: 1px;
        background: #9e9e9e;
        display: block;
        margin: 7px 0px;
    }
    span.two {
        width: 13px !important;
    }
}

::ng-deep .toolbar-background,
::ng-deep .toolbar-container,
ion-toolbar.in-toolbar {
    --background: #000 !important;
    text-align: left !important;
    color: #fff;
    ion-title {
        margin-left: 31px;
    }
}

.list {
    background: #bcbec0;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
    ul {
        list-style: none;
        padding: 0px;
        margin-bottom: 0;
        li {
            padding: 12px 15px;
            border-bottom: 1px solid #dee1e3;
            font-size: 12px;
            font-weight: bold;
            span {
                float: right;
                font-size: 23px;
                color: #c5cdcf;
                line-height: 0;
                margin-top: -5px;
            }
        }
        li:last-child {
            border: none;
        }
    }
} 
span.notifications-icon {
    position: relative;
    color: #3cb54a !important;
     span {
        position: absolute;
        background: #3cb54a;
        width: 20px;
        height: 20px;
        font-size: 10px !important;
        border-radius: 100%;
        z-index: 9;
        color: #fff !important;
        float: none !important;
        text-align: center;
        padding: 10px 0px;
        top: -4px;
        left: 12px;
        box-shadow: 0 0 10px 0 #3cb54a;
     }    
}

.right-button {
    position: absolute;
    right: 15px;
    z-index: 99;
    top: 23px;
    img {
        width: 30px;
    }
}