.route-info {
    padding: 0px;
    margin-bottom: 15px;
    img {
        width: 100%;
    }
}

::ng-deep .toolbar-background,
::ng-deep .toolbar-container,
ion-toolbar.in-toolbar {
    --background: #000 !important;
    text-align: center !important;
    color: #fff;
}

.back-button {
    position: absolute;
    left: 15px;
    z-index: 99;
    cursor: pointer;
    span {
        width: 26px;
        height: 1px;
        background: #9e9e9e;
        display: block;
        margin: 7px 0px;
    }
    span.two {
        width: 13px !important;
    }
    .fa {
        font-size: 38px;
    }
    p {
        margin: 0px;
        font-size: 12px;
        padding-top: 5px;
        font-weight: 400;
    }
}

span.title {
    width: 114px;
    display: inline-block;
    white-space: initial;
    vertical-align: top;
}

.right-button {
    position: absolute;
    right: 15px;
    z-index: 99;
    top: 40px;
    .fa {
        font-size: 12px;
        padding-right: 5px;
    }
    span {
        font-size: 12px;
        font-weight: 400;
        color: #647f91 !important;
    }
}

ion-title {
    padding-bottom: 15px;
    padding-top: 15px;
}

ion-header {
    position: relative;
    z-index: 9999;
}

ion-grid.top-col {
    text-align: center;
    border-top: none;
    border-bottom: 1px solid #fff;
    position: relative;
    z-index: 99;
    h2 {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin: 0px;
        img {
            width: 18px;
        }
    }
    button {
        background: #3cb54a;
        color: #fff;
        padding: 5px 8px 4px;
        font-size: 14px;
    }
}

ion-grid.min-col {
    .progress-bar-list {
        p {
            color: #fff;
            font-size: 10px;
            margin: 0px;
            padding: 5px 0px;
            letter-spacing: 1px;
            span {
                color: #fff;
                font-size: 10px;
                float: right;
            }
        }
    }
    .red {
        ion-progress-bar {
            --background: #ff001d;
            --buffer-background: #ff001d;
            --progress-background: #ff001d;
            border-radius: 50px;
            height: 10px;
            margin-top: 2px;
        }
    }
    .org {
        ion-progress-bar {
            --background: #c37e20;
            --buffer-background: #c37e20;
            --progress-background: #c37e20;
            border-radius: 50px;
            height: 10px;
            margin-top: 2px;
            width: 90%;
        }
    }
    .li-green {
        ion-progress-bar {
            --background: #59ea9d;
            --buffer-background: #59ea9d;
            --progress-background: #59ea9d;
            border-radius: 50px;
            height: 10px;
            margin-top: 2px;
            width: 80%;
        }
    }
    .green {
        ion-progress-bar {
            --background: #5eddfc;
            --buffer-background: #5eddfc;
            --progress-background: #5eddfc;
            border-radius: 50px;
            height: 10px;
            margin-top: 2px;
            width: 10%;
        }
    }
    .wal {
        ion-progress-bar {
            --background: #ffdb45;
            --buffer-background: #ffdb45;
            --progress-background: #ffdb45;
            border-radius: 50px;
            height: 10px;
            margin-top: 2px;
            width: 80%;
        }
    }
}

.right-pres {
    background: #0d0d0d;
    width: 160px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 25px 22px;
    vertical-align: bottom;
    h1 {
        margin: 0;
        color: #58ceeb;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        span {
            color: #fff;
            font-size: 11px;
            font-weight: 400;
            vertical-align: top;
            padding-top: 8px;
            display: inline-block;
            float: right;
            letter-spacing: 1px;
        }
    }
}

ion-grid.button-box {
    ion-col.text-right {
        text-align: right;
        button {
            background-color: #3cb54a;
            padding: 7px 25px;
            color: #fff;
            border-radius: 5px;
            font-weight: 400;
            width: 100px;
            margin: 0px 20px;
        }
    }
    ion-col.text-left {
        button {
            background-color: #b53c3c;
            padding: 7px 25px;
            color: #fff;
            border-radius: 5px;
            font-weight: 400;
            width: 100px;
            margin: 0px 20px;
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    width: 101px;
    i.fa.fa-heart {
        position: absolute;
        color: #4696fe;
        font-size: 17px;
        left: 20px;
        top: 20px;
    }
}

.bpm-text {
    position: absolute;
    bottom: 6px;
    left: 0;
    color: #fff;
    h1 {
        margin: 0;
        font-size: 10px;
        font-weight: 700;
        span {
            font-size: 7px;
            font-weight: 400;
        }
    }
}

.flex-container.two {
    circle-progress {
        transform: rotate(90deg);
    }
    p {
        position: absolute;
        color: #fff;
        font-size: 16px !important;
        margin: 0px;
        width: 100%;
        text-align: center;
        span {
            display: inline;
            font-size: 16px;
            font-weight: 400;
        }
    }
}

.right-pres.two {
    background: transparent;
    padding: 25px 36px 25px 0px;
    h1 {
        text-align: right;
        color: #fff;
        font-weight: bold;
        span {
            float: left;
            color: #fff;
            font-size: 9px;
            font-weight: 400;
            vertical-align: top;
            padding-top: 9px;
            display: inline-block;
        }
    }
}

ion-grid.min-col ion-col {
    padding-bottom: 0px;
}

.red {
    p {
        color: #ff001d;
        text-align: left;
        font-size: 10px;
        margin: 0px;
    }
}

.org {
    p {
        color: #c37e20;
        text-align: left;
        font-size: 10px;
        margin: 0px;
    }
}

.wal {
    p {
        color: #ffdb45;
        text-align: left;
        font-size: 10px;
        margin: 0px;
    }
}

.li-green {
    p {
        color: #59ea9d;
        text-align: left;
        font-size: 10px;
        margin: 0px;
    }
}

.green {
    p {
        color: #5eddfc;
        text-align: left;
        font-size: 10px;
        margin: 0px;
    }
}

ion-grid.m-back.two {
    text-align: left;
    padding-top: 15px;
    h2 {
        color: #fff;
        margin: 0;
        font-size: 14px;
    }
    p {
        color: #fff;
        margin: 0px;
        font-size: 9px;
        margin-bottom: 2px;
    }
}

h2.week {
    font-size: 12px !important;
    color: #d97d54 !important;
    padding-top: 4px;
    .fa {
        font-size: 16px !important;
        vertical-align: inherit;
    }
}

h2.month {
    font-size: 12px !important;
    padding-top: 4px;
    color: #647f91 !important;
    .fa {
        font-size: 16px !important;
        vertical-align: inherit;
    }
}

ion-calendar {
    background: transparent;
    padding: 0px;
}

::nd-deep ion-button.switch-btn.md.button.button-clear.ion-activatable.ion-focusable.hydrated {
    display: none;
    height: 0;
}

::ng-deep button.days-btn {
    width: 28px !important;
    height: 28px !important;
    p {
        color: #4b606e !important;
        font-size: 12px !important;
    }
}

::ng-deep ion-calendar-month .days-btn.today {
    background: #d97d54 !important;
    color: #fff !important;
    border-radius: 0px !important;
    transform: rotate(45deg);
    p {
        color: #fff !important;
        transform: rotate(-45deg);
    }
}

::ng-deep button.days-btn.last-month-day {
    p {
        color: #292929 !important;
    }
}

::ng-deep button.days-btn.next-month-day {
    p {
        color: #292929 !important;
    }
}

ion-grid.border-box {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    p {
        color: #4b606e;
        margin: 0px;
        padding: 2px;
        text-align: center;
        font-size: 12px;
    }
}

ion-grid.min-col {
    border-bottom: 1px solid #fff;
}

ion-grid.min-col>p {
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 0px;
    font-size: 12px;
}

p.time-average {
    color: #fff;
    text-align: center;
    margin: 0px;
    padding: 5px 0px 0px;
    font-size: 12px;
}

::ng-deep button.days-btn.on-selected {
    background: #d97d54 !important;
    color: #fff !important;
    border-radius: 0px !important;
    transform: rotate(45deg);
    p {
        color: #fff !important;
        transform: rotate(-45deg);
    }
}

.pos {
    position: relative;
    .black-bg {
        background: #000000;
        height: 50px;
        position: absolute;
        top: -50px;
        width: 100%;
        left: 0;
        z-index: 9;
    }
}

ion-calendar {
    margin-top: -50px;
}
::ng-deep .days.between button , ::ng-deep .days.endSelection button{
    background: #d97d54 !important;
    color: #fff !important;
    border-radius: 0px !important;
    transform: rotate(45deg);
    p {
        color: #fff !important;
        transform: rotate(-45deg);
    }
}
::ng-deep .primary .between button.days-btn:after ,::ng-deep .primary .startSelection:after , ::ng-deep .primary .endSelection:after{
    opacity: 0 !important;
}
::ng-deep .primary .startSelection:before ,::ng-deep .primary .endSelection:before{
    background-color: transparent !important;
}
ion-col.md.hydrated {
    border: none;
    outline: none !important;
}