.route-info {
    padding: 0px;
    margin-bottom: 15px;
    img {
        width: 100%;
    }
}

ion-grid.top-col {
    h2 {
        color: #fff;
        font-size: 20px;
        text-align: center;
        margin: 0px;
        padding: 10px 10px;
    }
    // h4 {
    //     color: #fff;
    //     font-size: 14px;
    //     text-align: right;
    //     margin: 0px;
    //     padding: 10px 10px;
    // }
}

ion-grid.min-col {
    .progress-bar-list {
        p {
            color: #fff;
            font-size: 10px;
            margin: 0px;
            padding: 5px 0px;
            letter-spacing: 1px;
            span {
                color: #fff;
                font-size: 10px;
                float: right;
            }
        }
    }
    .red {
        ion-progress-bar {
            --background: #ff001d;
            --buffer-background: #373737;
            --progress-background: #ff001d;
        }
    }
    .org {
        ion-progress-bar {
            --background: #c37e20;
            --buffer-background: #373737;
            --progress-background: #c37e20;
        }
    }
    .li-green {
        ion-progress-bar {
            --background: #59ea9d;
            --buffer-background: #373737;
            --progress-background: #59ea9d;
        }
    }
    .green {
        ion-progress-bar {
            --background: #5eddfc;
            --buffer-background: #373737;
            --progress-background: #5eddfc;
        }
    }
    .wal {
        ion-progress-bar {
            --background: #ffdb45;
            --buffer-background: #373737;
            --progress-background: #ffdb45;
        }
    }
}

.right-pres {
    background: #0d0d0d;
    width: 160px;
    margin: 0 auto;
    border-radius: 15px;
    padding: 25px 22px;
    vertical-align: bottom;
    h1 {
        margin: 0;
        color: #58ceeb;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: 1px;
        span {
            color: #fff;
            font-size: 11px;
            font-weight: 400;
            vertical-align: top;
            padding-top: 8px;
            display: inline-block;
            float: right;
            letter-spacing: 1px;
        }
    }
}

ion-grid.button-box {
    ion-col.text-right {
        text-align: right;
        button {
            background-color: #3cb54a;
            padding: 7px 25px;
            color: #fff;
            border-radius: 5px;
            font-weight: 400;
            width: 100px;
            margin: 0px 20px;
        }
    }
    ion-col.text-left {
        button {
            background-color: #b53c3c;
            padding: 7px 25px;
            color: #fff;
            border-radius: 5px;
            font-weight: 400;
            width: 100px;
            margin: 0px 20px;
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    i.fa.fa-heart {
        position: absolute;
        color: #4696fe;
        font-size: 17px;
        left: 20px;
        top: 20px;
    }
}

.bpm-text {
    position: absolute;
    bottom: 6px;
    left: 0;
    color: #fff;
    h1 {
        margin: 0;
        font-size: 10px;
        font-weight: 700;
        span {
            font-size: 7px;
            font-weight: 400;
        }
    }
}

.flex-container.two {
    circle-progress {
        transform: rotate(-135deg);
    }
    p {
        position: absolute;
        color: #fff;
        font-size: 8px;
        margin: 0px;
        span {
            display: block;
            font-size: 14px;
            font-weight: 800;
        }
    }
    .bpm-text.two {
        left: 50%;
        bottom: 0px;
        transform: translate(-50%, 4%);
        background: #000;
        width: 100%;
        text-align: center;
        padding: 5px;
    }
}

.right-pres.two {
    background: transparent;
    padding: 25px 36px 25px 0px;
    h1 {
        text-align: right;
        color: #fff;
        font-weight: bold;
        span {
            float: left;
            color: #fff;
            font-size: 9px;
            font-weight: 400;
            vertical-align: top;
            padding-top: 9px;
            display: inline-block;
        }
    }
}

ion-grid.button-box {
    padding-top: 8vh;
}