::ng-deep #background-content,
::ng-deep div#background-content,
::ng-deep ion-content {
    --background: #000;
}

::ng-deep * {
    font-family: 'Muli', sans-serif;
}

::ng-deep button.button-native {
    width: 50px;
    min-width: 62px !important;
}
::ng-deep ion-col.md.hydrated {
    outline: none;
}