<ion-content>
    <ion-grid class="logo-image">
        <!-- <ion-icon name="heart"></ion-icon> -->
        <i class="fa fa-heart" aria-hidden="true"></i>
    </ion-grid>
    <ion-grid class="text-white">
        <h1>Sync with Apple Health</h1>
        <p>To ensure the accuracy of your workout data</p>
        <p>Please allow us to access and upload your</p>
        <p>Health app data</p>
    </ion-grid>
    <ion-grid class="button-login">
        <p>For best results, Turn All Categories on</p>
        <button routerLink="/login">SYNC NOW</button><br>
        <a routerLink="/login" style="color: #fff; margin-top: 15px; text-decoration: none;">Skip</a>
    </ion-grid>

    
</ion-content>