<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="back-button" routerLink="/tabs/tab1">
            <span class="one"></span>
            <span class="one"></span>
            <span class="two"></span>
        </div>
        <ion-title>
            CLASS LIST
        </ion-title>
        <!-- <div class="right-button" routerLink="/tabs/tab1">
            <img src="../../assets/images/runing-icon.png" />
        </div> -->
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="border-top"></ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <form>
                    <ion-item class="light-back">
                        <ion-select placeholder="Select Location" ok-text="Okay" (ionChange)="location($event)" cancel-text="Dismiss">
                            <ion-select-option *ngFor="let location of locations" value="{{location.id}}">{{location.lname}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </form>
            </ion-col>
            <ion-col size="6">
                <ion-item>
                    <ion-select placeholder="Select Days" ok-text="Okay" (ionChange)="getdate($event)" cancel-text="Dismiss">
                        <ion-select-option value="Monday">Monday</ion-select-option>
                        <ion-select-option value="Tuesday">Tuesday</ion-select-option>
                        <ion-select-option value="Wednesday">Wednesday</ion-select-option>
                        <ion-select-option value="Thursday">Thursday</ion-select-option>
                        <ion-select-option value="Friday">Friday</ion-select-option>
                        <ion-select-option value="Saturday">Saturday</ion-select-option>
                        <ion-select-option value="Sunday">Sunday</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col size="3"></ion-col>
            <ion-col size="6">
              <button class="ion-text-center" shape="round" color="success" expand="block" (click)="getdata()">Go</button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid> 
        <ion-row>
          <ion-col size="12">
            <div *ngFor="let item of items" class="class-listing-box">
                <h2>{{item.name}}   <button class="ion-color-success" (click)="Enroll(item.id)">{{item.enroll}}</button></h2>
                <p><span>Available {{item.capacity}}</span><span>  Duration {{item.duration}} Minutes</span> <span>    Time {{item.hour}}:{{item.miniut}}</span></p>
              
            </div>
        </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>