<ion-content>
    <ion-grid class="logo-image">
        <img src="../../assets/images/logo.png" />
    </ion-grid>
    <ion-grid>
        <form>
            <ion-item class="light-back">
                <ion-input type="text" placeholder="D.O.B"></ion-input>
            </ion-item>
            <ion-item class="light-back">
                <ion-input type="text" placeholder="GENDER"></ion-input>
                <div class="gender">
                    <p class="active">M</p>
                    <p>F</p>
                </div>
            </ion-item>
            <ion-item class="light-back">
                <ion-input type="text" placeholder="HEIGHT"></ion-input>
                <div class="gender">
                    <p class="active">FT</p>
                    <p>CMS</p>
                </div>
            </ion-item>
            <ion-item class="light-back">
                <ion-input type="text" placeholder="WEIGHT"></ion-input>
                <div class="gender">
                    <p class="active">LBS</p>
                    <p>KGS</p>
                </div>
            </ion-item>

            <div class="button-login">
                <button type="submit" class="login" routerLink="/tabs">GET STARTED <span><ion-icon name="arrow-forward-outline"></ion-icon></span></button>
                <button type="submit" class="login" routerLink="/enter-code">MEMBER CODE <span>FITT<b>41</b><ion-icon name="arrow-forward-outline"></ion-icon></span></button>
            </div>
        </form>
    </ion-grid>
</ion-content>