<ion-content>
    <ion-grid class="logo-image">
        <img src="../../assets/images/logo.png" />
    </ion-grid>
    <ion-grid>
        <ion-slides pager="true" [options]="slideOpts">
            <ion-slide class="slide">
                <h1>WELCOME</h1>
            </ion-slide>
            <ion-slide class="slide">
                <h1>TRACK</h1>
            </ion-slide>
            <ion-slide class="slide">
                <h1>CONNECT</h1>
            </ion-slide>
        </ion-slides>
    </ion-grid>
    <ion-grid class="text-white">
        <p>LOG YOUR WORKOUTS, SEE YOUR PROGRESS.</p>
    </ion-grid>
    <ion-grid class="button-login">
        <button routerLink="/apple-connect">GET STARTED</button>
    </ion-grid>
</ion-content>