<ion-header [translucent]="true">
    <ion-toolbar>
        <div class="back-button" routerLink="/tabs/setting">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </div>
        <ion-title>
            MORE
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="button">
        <div class="button">
            <button>ADD NEW SENSOR</button>
        </div>
    </ion-grid>
    <ion-grid class="bluetooth">
        <div class="list">
            <ul>
                <li><span><i class="fa fa-bluetooth-b" aria-hidden="true"></i></span> NO SAVED SENSORS</li>
            </ul>
        </div>
    </ion-grid>
</ion-content>