        .logo-image {
           // background: url('../../assets/images/pusup.jpg');
            margin: 0 auto;
            text-align: center;
            // filter: blur(1px);
            // -webkit-filter: blur(1px);
            height: 170px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 10px;
            position: relative;
            margin: 15px 15px 0px;
        }
        
        .logo-image::before {
            content: "";
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0;
            right: 0;
            bottom: 0;
        }
        
        .slide {
            h1 {
                color: #fff;
                margin-top: 0px;
                font-size: 20px;
            }
        }
        
        .profile {
            position: absolute;
            top: 47px;
            width: 100%;
        }
        
        .text-white {
            p {
                color: #404040;
                font-size: 10px;
                text-align: center;
            }
        }
        
         ::ng-deep .item-native,
         ::ng-deep .item .item-input,
         ::ng-deep ion-item .item-native {
            background: #2e2e2e;
            border: 1px solid #717171;
            margin-bottom: 15px;
            border-radius: 50px;
            color: #fff;
            opacity: 1;
        }
        
        .item,
        .list,
        .item-content,
        .item-complex {
            --ion-background-color: #2e2e2e !important;
            // background: #2e2e2e;
            border: 1px solid #717171;
            margin-bottom: 0px;
            border-radius: 50px;
            color: #fff;
            opacity: 1;
            height: 40px;
        }
        
        form.ng-untouched.ng-pristine.ng-valid {
            width: 95%;
            margin: 0 auto;
            padding-top: 30px;
        }
        
        ion-input {
            padding-left: 0px !important;
            font-family: "Muli", sans-serif;
            font-size: 12.5px;
            vertical-align: top;
            --padding-top: 0px !important;
        }
        
         ::ng-deep ion-item.light-back.item-interactive.item-input:focus {
            --ion-background-color: #2e2e2e !important;
        }
        
        .activated {
            --ion-item-background: #2e2e2e !important;
        }
        
        .item-has-focus {
            --highlight-background: #2e2e2e !important;
        }
        
        .button-login {
            position: absolute;
            bottom: 0px;
            left: 50%;
            width: 320px;
            transform: translate(-50%, -50%);
        }
        
        .button-login {
            button.login {
                background: transparent;
                border-radius: 50px;
                color: #7540ee;
                font-size: 13px;
                letter-spacing: 1px;
                width: 100%;
                font-weight: bold;
                margin-left: 3px;
                text-align: left;
            }
        }
        
        .icon-for-right {
            text-align: center;
            img {
                width: 35px;
            }
            h2 {
                margin: 0px;
                color: #3bb349;
                font-weight: 800;
                margin-bottom: 5px;
                font-size: 18px;
            }
            p {
                margin: 0px;
                color: #fff;
                font-size: 11px;
                margin-bottom: 2px;
            }
        }
        
        .bottom-box {
            margin: 0 auto;
            text-align: center;
            border-top: 1px solid #fff;
            margin-top: 40px;
            border-bottom: 1px solid #fff;
            width: 300px;
            padding-top: 15px;
            ion-icon {
                color: #fff;
                font-size: 25px;
                vertical-align: bottom;
            }
            .fa {
                color: #fff;
                font-size: 25px;
                vertical-align: bottom;
                margin-top: -2px;
                margin-bottom: 2px;
            }
            p {
                margin: 0px;
                color: #fff;
                font-size: 12px;
                margin-bottom: 4px;
            }
        }
        
        .profile-img {
            width: 80px;
            height: 80px;
            margin: 0 auto;
            border-radius: 100%;
            overflow: hidden;
            position: relative;
            img {
                width: 162%;
                max-width: 161%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        
        .profile {
            h3 {
                font-size: 16px;
                font-weight: 700;
                color: #fff;
                margin: 0px;
                text-align: center;
                margin-top: 10px;
            }
            p {
                font-size: 12px;
                font-weight: 400;
                color: #fff;
                margin: 0px;
                text-align: center;
                margin-top: 4px;
            }
        }
        
        ion-grid.user-icon {
            ion-icon {
                position: absolute;
                top: 20px;
                left: 22px;
                color: #fff;
                font-size: 22px;
            }
        }
        
        .profile-imgs {
            .fa {
                position: absolute;
                text-align: center;
                top: -9px;
                left: 53%;
                z-index: 9;
                background: #494949;
                border: 1px solid #6e41d2;
                padding: 8px 10px;
                border-radius: 100%;
                width: 34px;
                height: 34px;
                color: #fff;
                font-size: 20px;
            }
        }
            button.login {
                background: #3cb54a;
                padding: 15px 38px;
                border: 1px solid #3cb54a;
                border-radius: 50px;
                color: #fff;
                font-size: 13px;
                letter-spacing: 1px;
                width: 100%;
                font-weight: bold;
                margin-left: 3px;
            }
            i.fa.fa-pencil.one {
                position: absolute;
                top: 24px;
                right: 24px;
                position: absolute;
                text-align: center;
                z-index: 9;
                background: #494949;
                border: 1px solid #6e41d2;
                padding: 8px 10px;
                border-radius: 100%;
                width: 34px;
                height: 34px;
                color: #fff;
                font-size: 20px;
            }
ion-datetime{
    padding-top: 0px;
    padding-left: 0px;
    font-size: 13px;
}